---
layout: default
---
<svg viewBox="0 0 481 220" version="1.1" class="header-title" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="">
    <title>Anika Tabassum</title>
    <g id="header-title" stroke="none" stroke-width="1" fill="none">
        <polygon class="solid" points="0 0 481 50 481 250 0 200"></polygon>
        <text class="svg-text headline">
            <tspan x="110" y="150">Writing</tspan>
        </text>
    </g>
</svg>


{% assign unsorted_cats = site.categories %}
<div class="container">
  <ul class="posts">
  {% for category in unsorted_cats %}
  {% assign sorted_posts = category[1] | reversed %}
  <h2 id="{{category[0] | uri_escape | downcase }}">{{ category[0] | capitalize }}</H2>
    {% for post in sorted_posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  {% endfor %}
  </ul>
</div>
</div>
