---
layout: default
title: Writing
---

<div class="post-intro">
<h1>Writing</h1>
</div>

{% assign unsorted_cats = site.categories %}
<div class="container">
  <ul class="posts">
  <h3>Published in newspapers/magazines</h3>
    <li><a href="https://www.waterloochronicle.ca/opinion-story/10236282-appreciating-the-underrated-beauty-of-waterloo/">Appreciating the underrated beauty of Waterloo</a> <span> 06 Nov 2020</span></li>
    <li><a href="https://www.thedailystar.net/views/opinion/news/captain-nawshad-life-grit-determination-and-sacrifice-2165396">Captain Nawshad: A life of grit, determination and sacrifice</a><span> 01 Sept 2021</span></li>
  </ul>
  {% for category in unsorted_cats %}
  {% assign sorted_posts = category[1] | reversed %}
  <ul class="posts">

  <h3 id="{{category[0] | uri_escape | downcase }}">{{ category[0] | capitalize }}</h3>
    {% for post in sorted_posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a><span> {{ post.date | date_to_string }}</span></li>
  {% endfor %}
</ul>
  {% endfor %}
</div>
</div>
