<p>I enjoy the company of family, old friends, and other genuine people with razor-sharp intellect and/or high moral values, in that order.</p>

<p>I am a bibliophile, and could easily spend countless evenings wrapped up in books, fiction or non-fiction.</p>

<p>I place extremely high value on knowledge, and am always trying to hoard as much as I can. </p>

<p>I am hungry about doing good work, about doing a variety of work, about honing my craft, about constantly improving and reinventing myself. </p>

<p>I am currently based in Toronto but am originally from Bangladesh. </p>

<p>I am Anika, and this is my website. </p>