<h1>I am Anika</h1>

<p>I'm currently a software engineer at OpenText. I like to work on different things software: I studied Computer Science at McGill University, started my career as a Ruby on Rails Developer, moved to frontend development with React, completed a Master's degree in Data Science and Analytics, and am currently working primarily as a backend engineer. I am recently interested in the intersection of machine learning and engineering.</p>

<p>I am also very interested in English Literature, reading, writing and words in general (hence the <a href="/posts">Writing</a> section). In high school, I used to work as a Staff Writer for Rising Stars, the Daily Star (the youth supplement of Bangladesh's most reputed English daily newspaper). Some of my most favourite authors include: Roald Dahl, Lewis Carroll, J.K.Rowling, Neil Gaiman, Douglas Adams, Terry Pratchett and Louis de Bernières.</p>

<p>I currently spend most of my time outside work with my family (especially with my toddler).</p>

<hr>

<p>The 90s are my happy place. I grew up in Dhaka, Bangladesh, and had a wonderful childhood. My father was a Flight Engineer (cockpit crew) of Biman Bangladesh Airlines, and so I was lucky to travel all over the world: USA, Canada, UK, Belgium, Japan, Italy, Dubai, Kuwait, Malaysia, Singapore, India, Nepal. </p>