<h1>I am Anika</h1>


<p>I am currently pursuing a Master's degree in Health Sciences (in the Community Public Population Health stream). I hope to advocate and work for vulnerable/marginalized populations (most specifically, children with disabilities).</p>

<p>I have an extensive technical background, including many years of work experience as a software engineer/developer at companies such as OpenText, Rubikloud (acquired by Kinaxis), and Flipgive, as well as BA and MSc degrees in Computer Science and Data Science and Analytics, respectively.</p>

<p>I am also passionate about writing, reading and words in general (hence the <a href="/posts">Writing</a> section). In high school, I used to work as a Staff Writer for Rising Stars, the Daily Star (the youth supplement of Bangladesh's most reputed English daily). Some of my most favourite authors include: Roald Dahl, Lewis Carroll, J.K.Rowling, Neil Gaiman, Douglas Adams, Terry Pratchett and Louis de Bernières.</p>

<hr>

<p>The 90s are my happy place. I grew up in Dhaka, Bangladesh, and had a wonderful childhood. My father was a Flight Engineer (cockpit crew) of Biman Bangladesh Airlines, and so I was lucky to travel all over the world: USA, Canada, UK, Belgium, Japan, Italy, Dubai, Kuwait, Malaysia, Singapore, India, Nepal. </p>